.diya{
    margin:0;
    padding:0;
    width:100%;
    background-color: #000000;
    overflow:hidden;
}
.wholegallery{
    overflow:hidden;
    display:flex;
    align-items:center; 
    justify-content:center;
    margin-top:2%;
}

.text32{
    width:50%;
    color:white;
    font-family: Arial sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2% 25%;
}
.of-past{
    font-size:4em;
    margin-top:4%;
    margin-left:3%;
}
.glimpse{
    font-size:4em;
}
.glimpse::first-letter{
    font-size:1.5em;
}
.events{
    font-size:0.8em;
    font-style:italic;
    text-align:right;
}
.scroll-container{
    overflow:hidden;
    width:30%; 
    height:100%;
}
.scroll-content{
    width:97%;
    height:calc(50vh*6);
    display:flex;
    flex-direction: column;
    flex-shrink:0;
    overflow:hidden;
    animation:scroll 10s linear infinite;
    border:1px solid white
}
.scroll-content::before,
.scroll-content::after{
    background:linear-gradient(to bottom,rgba(0,0,0,0)0%,rgba(0,0,0,0)50%,rgba(0,0,0,0)100%);
    content:'';
    width:100%;
    position:absolute;
    z-index:2;
    height:100%;
}
.slide img{
    width:100%;
    height:50vh;
    object-fit:cover;
}

@keyframes scroll{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(-50%);
    }
}
@media(max-width:768px){
    .scroll-content img{
        width:100%;
    }
    .text {
        font-size: 1rem;
        line-height: 1.3;
      }
}
